.cajaDeBuscador{

   display: flex;
   justify-content: space-between;
   align-items: center;
}


.botoBuscar{
   border-radius: 15px;
   width: 9em;
   height: 2em;
   cursor: pointer;

}
.imputBuscar{
   width: 15em;
   height: 2em;
   border-radius: 15px;
}
.CajaBu{
  margin: 10px;
   margin-left: -30vh;
   margin-bottom:25px;
}
.cajaDrives{
   margin-left: -40vh;

}
.cajaDeCrearPersonajes{
   margin-left: -25vh;
}
.CajaDeInicio{
   margin-left: -25vh;
   margin-right: 100px;
   
}
.imagenLogo{
   width: 9vh;
   height: 9vh;
}
.logo{
  
margin-left: 5vh;
}
.cajaHome{
   margin-left: -30vh;
   margin-right: 15vh;
}