.cajaDeBuscador {
  
   display: flex;
   justify-content: space-between;
   align-items: center;

}


.botoBuscar {
   border-radius: 15px;
   width: 9em;
   height: 2em;
   cursor: pointer;

}

.imputBuscar {
   width: 15em;
   height: 2em;
   border-radius: 15px;
}

.CajaBu {

   margin-left: -5vh;
   margin-bottom: 3vh;
}

.imagenLogo {
   width: 10vh;
   height: 5vh;

}

.logo {

   margin-left: 5vh;
}

.cajaHome {
   margin: 22px;
}

.boxDeBotones {
   
   display: flex;
   justify-content: center;
   margin-right: 2vh;
   width: 100vh;
}
.botones{
   width: 20vh;
   height: 4vh;
   border: none;
}
