.titlePrincipla{
   font-size: 17px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxxxxxx{
   display: flex;
}
.boxs{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 10px;

}
.boxDeOrigen{
   margin: 5px;
}
