.conteinerPrincipal {
   
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   justify-content: center;
   width: 15rem;
   height: 15rem;
   display: inline-block;
   margin-right: 17px;
   margin-bottom: 20px;
   
  
}


.conteinerCard {
 
   border-radius:  15px;
   backdrop-filter: blur(15px);
   /* background-color: aquamarine; */
   border: solid #f0efefde;
  padding: 0.9em;
   max-height:50vh ;
   align-items: center;
   width: 30vh;
   margin-top: 20px;
 text-align: center;
  
 
   
}
.paginado{
   margin-top: 30px;
}

.imagenes {
   max-width:35vh ;
   max-height:25vh ;
   margin-top: 5px;

   
   
}
.titleTeams{
   font-size: 10px;
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   color: aliceblue;
}
.h4{
   font-size: 15px;
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   color: aliceblue;
}
